* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#hero .hero {
  background: url("../img/Rectangle 2068.png") no-repeat center/cover;
  min-height: 100vh;
  width: 1516px;
  margin-left: -190px;
}
#hero .hero__top {
  padding: 100px 150px;
}
#hero .hero__top h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#hero .hero__top p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 20px 0;
}
#hero .hero__top button {
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 178px;
  height: 40px;
  left: 80px;
  top: 295px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(118, 26, 255, 0.2);
  border-radius: 10px;
}
#hero .hero__top button:hover {
  color: #b1dac2;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgb(198, 227, 210);
}
#hero .hero__top button:focus {
  background: black;
}
#hero .hero__top button:active {
  background: #ff003b;
}
#hero .hero__title {
  margin-left: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -300px;
}
#hero .hero__title p {
  margin-right: 30px;
}
#hero .hero__title h6 {
  color: #9099A3;
}

#club {
  background: rgba(30, 32, 36, 0.98);
  padding: 10px;
}
#club h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  padding: 10px 0;
}
#club .club {
  width: 1100px;
  height: 550px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
}
#club .club .club__left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #2C3E50;
}
#club .club .club__right h1 {
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
}
#club .club .club__right .club__right-text {
  display: flex;
  padding: 10px 0;
}
#club .club .club__right .club__right-text .vector {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 6px;
  border: 1px solid #FF1A1A;
}
#club .club .club__right .club__right-text .vector img {
  padding: 8px 0;
}
#club .club .club__right .club__right--bottom {
  display: flex;
  justify-content: space-between;
}
#club .club .club__right .club__right--bottom .club__right--bottom-text p {
  font-weight: 400;
  font-size: 14px;
  color: #2C3E50;
}
#club .club .club__right .club__right--bottom .club__right--bottom-text h6 {
  font-weight: 700;
  font-size: 14px;
  color: #2C3E50;
}

#travel {
  margin-left: -100px;
  padding: 100px;
}
#travel .travel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#travel .travel__format {
  margin: 30px 0;
}
#travel .travel__format button {
  width: 500px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
}
#travel .travel__format h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
#travel .travel__format h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: -450px;
  margin-right: 100px;
  color: #2C3E50;
}
#travel .travel__format p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 100px;
  color: #2C3E50;
}
#travel .travel__button {
  display: flex;
  align-items: center;
  margin-left: 280px;
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: -5px;
  color: #FFFFFF;
}
#travel .travel__button img {
  margin-top: 10px;
}
#travel .travel__button h3 {
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: -170px;
}
#travel .travel__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 500px;
}
#travel .travel__img1 {
  margin-left: 20px;
}
#travel .travel__img2 {
  margin-right: 20px;
}
#travel .travel__format1 {
  margin-top: 100px;
}
#travel .travel__format1 button {
  width: 500px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
}
#travel .travel__format1 h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#travel .travel__format1 h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: -450px;
  margin-right: 100px;
  color: #2C3E50;
}
#travel .travel__format1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 100px;
  color: #2C3E50;
}
#travel .travel__button1 {
  display: flex;
  align-items: center;
  margin-left: 280px;
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: -5px;
  color: #FFFFFF;
}
#travel .travel__button1 img {
  margin-top: 10px;
}
#travel .travel__button1 h3 {
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: -170px;
}
#travel .travel__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 500px;
}
#travel .travel__img3 {
  margin-top: 70px;
}
#travel .travel__img2 {
  margin-right: 20px;
}
#travel .travel__img2__button2 {
  display: flex;
  align-items: center;
  margin-left: 280px;
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: -5px;
  color: #FFFFFF;
}

#countries .country {
  padding: 50px 0;
}
#countries .country h1 {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
#countries .country h1:hover {
  color: #d9920d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#countries .country h1:focus {
  background: black;
}
#countries .country h1:active {
  background: #ff003b;
}
#countries .country__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -100px;
}
#countries .country__title h1:hover {
  color: #d9920d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#countries .country__title:focus {
  background: black;
}
#countries .country__title:active {
  background: #ff003b;
}
#countries .country__title h1 {
  font-weight: 600;
  font-size: 54px;
  color: #FFFFFF;
}
#countries .country__title2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#countries .country__title2 h2:hover {
  color: #d9920d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#countries .country__title2:focus {
  background: black;
}
#countries .country__title2:active {
  background: #ff003b;
}
#countries .country__title2 h2 {
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
}
#countries .country__title3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#countries .country__title3 h3 {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
#countries .country__title3 h3:hover {
  color: #d9920d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#countries .country__title3:focus {
  background: black;
}
#countries .country__title3:active {
  background: #ff003b;
}

#address .address {
  padding: 50px 0;
}
#address .address__gen {
  margin-left: -100px;
}
#address .address__gen:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__gen h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#address .address__gen h1:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__gen h1:focus {
  background: black;
}
#address .address__gen h1:active {
  background: #ff003b;
}
#address .address__gen p {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #9099A3;
}
#address .address__gen p:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__gen p:focus {
  background: black;
}
#address .address__gen p:active {
  background: #ff003b;
}
#address .address__contact {
  margin-left: 600px;
  margin-top: -120px;
}
#address .address__contact p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  padding: 10px 0;
}
#address .address__contact p:hover {
  color: #0d92d9;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px #ffffff;
}
#address .address__contact input {
  width: 580px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0 10px;
}
#address .address input:hover {
  color: #c6e3d2;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address input:focus {
  background: black;
}
#address .address input:active {
  background: #b1dac2;
}
#address .address__btn {
  display: flex;
  align-items: center;
}
#address .address__btn p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 336px;
  height: 40px;
}
#address .address__btn p:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__btn p:focus {
  background: black;
}
#address .address__btn p:active {
  background: #ff003b;
}
#address .address__btn button {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  width: 280px;
  height: 60px;
  background: #FF1A1A;
  box-shadow: 0 5px 8px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  margin: 20px;
}
#address .address button:hover {
  color: #121d0c;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address button:focus {
  background: black;
}
#address .address button:active {
  background: #ff003b;
}

#website .website {
  padding: 120px;
}
#website .website .website__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#website .website .website__top img {
  width: 79px;
  height: 90px;
}
#website .website .website__top h4 {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#website .website .website__top p, #website .website .website__top a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#website .website .website__top .website__top--menu a {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
#website .website .website__top .website__top--connection p {
  padding: 15px 0;
}
#website .website .website__top .website__top--connection p a {
  color: #0d92d9;
}
#website .website .website__top .website__top--connection .website__top--connection--set a .website__top--connection--set-icon {
  background: #DADADA;
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  margin: 5px 2px;
  color: black;
}
#website .website .website__top .website__top--address p {
  padding: 15px 0;
}
#website .website .website__bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#website .website .website__bottom p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#website .website .website__bottom .website__bottom--right {
  display: flex;
  justify-content: inherit;
  align-items: center;
}
#website .website .website__bottom .website__bottom--right img {
  padding: 0 10px;
}

/*# sourceMappingURL=it-club.css.map */
