* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

#main {
  background: #1E2023;
}

.container {
  padding: 30px 130px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1E2024;
}

#header {
  background: #1E2024;
  position: relative;
  height: 82px;
  box-shadow: 690px 270px 1000px red;
}
#header .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#header .container .header .header__logo {
  display: flex;
  justify-content: inherit;
  align-items: center;
  width: 110px;
}
#header .container .header .header__logo .header__logo--text {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #FFFFFF;
}
#header .container .header .header__menu {
  display: flex;
  justify-content: inherit;
  align-items: center;
  width: 500px;
}
#header .container .header .header__menu a {
  font-weight: 500;
  font-size: 14px;
  color: #9099A3;
  text-transform: capitalize;
}
#header .container .header .header__menu a:focus {
  color: white;
  border-bottom: 2px solid gray;
}
#header .container .header .header__language {
  width: 192px;
  height: 30px;
}
#header .container .header .header__language select {
  width: 45px;
  height: 25.6px;
  border-radius: 12px;
  border: none;
  background: red;
  color: #FFFFFF;
  text-align: center;
}
#header .container .header .header__language select option {
  width: 45px;
  height: 25.6px;
  border-radius: 12px;
  border: none;
  background: red;
  color: #FFFFFF;
}

#hero {
  position: relative;
}
#hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero .hero__text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #9099A3;
}
#hero .hero .hero__text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
  padding: 13px 0;
}
#hero .hero .hero__text button {
  width: 180px;
  height: 40.43px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.7s;
}
#hero .hero button:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
}
#hero .hero .hero__logo {
  margin-right: 150px;
}

#courses .courses h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#courses .courses .swiper {
  width: 100%;
  height: 100%;
}
#courses .courses .swiper .swiper-slide {
  border-radius: 15px;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#courses .courses .swiper .swiper-slide .coursers__cards {
  position: relative;
  width: 600px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text .coursers__cards-text-top {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 30px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text .coursers__cards-text-top img {
  margin-top: 3px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text .coursers__cards-text-top p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
  padding: 0 10px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text .coursers__cards-text-top a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text h2 {
  margin-top: -80px;
  font-weight: 700;
  font-size: 20px;
  width: 300px;
  color: #2C3E50;
  top: 100px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text button {
  position: absolute;
  width: 180px;
  height: 40px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.7s;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text button a {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__cards-text button:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
  transform: translateY(-20px);
}
#courses .courses .swiper .swiper-slide .coursers__cards img {
  margin-top: 60px;
}

#webinars .webinars h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#webinars .webinars .webinars__bottom-btn {
  width: 300px;
  height: 60px;
  background: #FF1A1A;
  box-shadow: 0 5px 8px rgba(255, 26, 26, 0.2);
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  margin-left: 37%;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.7s;
}
#webinars .webinars .webinars__bottom-btn:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
}
#webinars .webinars .webinars__label label {
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #2C3E50;
  cursor: pointer;
  padding: 5px 10px;
}
#webinars .webinars .webinars__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
#webinars .webinars .webinars__cards input {
  display: none;
}
#webinars .webinars .webinars__cards #business:checked ~ .card3 {
  display: none;
}
#webinars .webinars .webinars__cards #business:checked ~ .card4 {
  display: none;
}
#webinars .webinars .webinars__cards .webinars__cards--card {
  position: relative;
  width: 600px;
  height: 350px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text {
  padding-left: 20px;
  margin-bottom: 40px;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text .webinars__cards--card-text-top {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  top: 20px;
  left: 20px;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text .webinars__cards--card-text-top p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text .webinars__cards--card-text-top a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
  margin: 10px 0;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text button {
  position: absolute;
  width: 180px;
  height: 40px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.7s;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text button a {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
#webinars .webinars .webinars__cards .webinars__cards--card .webinars__cards--card-text button:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
  transform: translateY(-20px);
}
#webinars .webinars .webinars__cards .webinars__cards--card img {
  margin-right: -10px;
  margin-top: -12px;
}
#webinars .webinars .webinars__cards .webinars__cards--card .users__img {
  margin-top: 63px;
}
#webinars .webinars .webinars__cards .webinars__cards--card .wild-logo {
  width: 200px;
  height: 240px;
  margin-right: 10px;
}
#webinars .webinars .webinars__cards .webinars__cards--card .full-stack-img {
  padding: 30px;
  border-radius: 50%;
}
#webinars .webinars .webinars__cards .webinars__cards--card .nft-family {
  width: 300px;
  height: 350px;
  margin-top: 0;
}
#webinars .webinars .webinars__cards .webinars__cards--card span {
  position: absolute;
  width: 80px;
  height: 40px;
  background: #FF091E;
  border-radius: 0 15px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  top: 0;
  right: 0;
}

#master-classes .master-classes h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#master-classes .master-classes .master-classes__label {
  padding: 20px 0;
}
#master-classes .master-classes .master-classes__label label {
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #2C3E50;
  cursor: pointer;
  padding: 5px 10px;
}
#master-classes .master-classes .master-classes__label label:focus {
  background: red;
  color: #00A400;
}
#master-classes .master-classes .master-classes__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#master-classes .master-classes .master-classes__input input {
  display: none;
}
#master-classes .master-classes .master-classes__input #busines:checked ~ .master-classes__input--card4,
#master-classes .master-classes .master-classes__input #busines:checked ~ .master-classes__input--card5,
#master-classes .master-classes .master-classes__input #busines:checked ~ .master-classes__input--card6 {
  display: none;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card:hover {
  background: rgba(148, 245, 99, 0.99);
}
#master-classes .master-classes .master-classes__input .master-classes__input-card {
  width: 360px;
  height: 280px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px 20px;
  margin-bottom: 20px;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card .master-classes__input-card-top {
  display: flex;
  justify-content: flex-start;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card button {
  width: 80px;
  height: 20px;
  background: #9099A3;
  border-radius: 19px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  padding: 2px 2px;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card a {
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
  margin-left: 10px;
}
#master-classes .master-classes .master-classes__input h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
  padding: 20px 0;
}
#master-classes .master-classes .master-classes__input p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2C3E50;
  border-bottom: 0.5px solid #9099A3;
  transform: rotate(-0.24deg);
  padding-bottom: 20px;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card-bottom {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card-bottom .master-classes__input-card-bottom-text {
  margin-left: 20px;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card-bottom .master-classes__input-card-bottom-text h1 {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
  padding: 0 0;
}
#master-classes .master-classes .master-classes__input .master-classes__input-card-bottom .master-classes__input-card-bottom-text p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  padding: 0 0;
  border: none;
}
#master-classes .master-classes__button {
  width: 340px;
  height: 50px;
  border: 2px solid #9099A3;
  filter: drop-shadow(0px 5px 8px rgba(26, 92, 255, 0.2));
  border-radius: 12px;
  font-weight: 900;
  font-size: 18px;
  color: #9099A3;
  background: none;
  margin-left: 37%;
  cursor: pointer;
  transition: 0.7s;
}
#master-classes .master-classes__button:hover {
  box-shadow: 0 10px 100px rgba(148, 245, 99, 0.99);
  transform: translateY(20px);
  transition: 0.7s;
  background: transparent;
  color: rgba(148, 245, 99, 0.99);
  border: 2px solid rgba(148, 245, 99, 0.99);
}

/*# sourceMappingURL=style.css.map */
