* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

#main {
  background: #1E2023;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#header {
  background: #1E2024;
  position: relative;
  box-shadow: 690px 270px 1000px red;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#header .header__logo {
  display: flex;
  justify-content: inherit;
  align-items: center;
}
#header .header__logo .header__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #FFFFFF;
}
#header .header__menu {
  display: flex;
  justify-content: initial;
  align-items: center;
}
#header .header__menu a {
  font-weight: 500;
  font-size: 14px;
  color: #9099A3;
  text-transform: capitalize;
  padding: 0 30px;
}
#header .header__menu a:focus {
  color: white;
  border-bottom: 2px solid gray;
}
#header .header__language select {
  width: 45px;
  height: 25.6px;
  border-radius: 12px;
  border: none;
  background: red;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
}
#header .header__language select option {
  width: 45px;
  height: 25.6px;
  border-radius: 12px;
  border: none;
  background: red;
  color: #FFFFFF;
  text-transform: capitalize;
}

#hero1 .hero1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero1 .hero1__text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #9099A3;
}
#hero1 .hero1__text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
  padding: 13px 0;
}
#hero1 .hero1__text button {
  width: 180px;
  height: 40.43px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
#hero1 .hero1 button:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
}

#courses .courses h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#courses .courses .swiper {
  width: 100%;
  height: 100%;
}
#courses .courses .swiper .swiper-slide {
  border-radius: 15px;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#courses .courses .swiper .swiper-slide .coursers__cards {
  position: relative;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text .coursers__top {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 10px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text .coursers__top p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
  padding: 0 10px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text .coursers__top a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text h2 {
  margin-top: -80px;
  font-weight: 700;
  font-size: 20px;
  width: 300px;
  color: #2C3E50;
  top: 100px;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text button {
  position: absolute;
  width: 180px;
  height: 40px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  transition: 0.7s;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text button a {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
#courses .courses .swiper .swiper-slide .coursers__cards .coursers__text button:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
  transform: translateY(-20px);
}
#courses .courses .swiper .swiper-slide .coursers__cards img {
  display: flex;
  align-items: end;
}

#webinars .webinars {
  margin-top: 50px;
}
#webinars .webinars h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#webinars .webinars .webinars__btn {
  width: 180px;
  height: 40.43px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#webinars .webinars .webinars__btn:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
}
#webinars .webinars__label label {
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #2C3E50;
  cursor: pointer;
  transition: 0.7s;
  padding: 5px 10px;
}
#webinars .webinars__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
#webinars .webinars__cards input {
  display: none;
}
#webinars .webinars__cards #business:checked ~ .card3 {
  display: none;
}
#webinars .webinars__cards #business:checked ~ .card4 {
  display: none;
}
#webinars .webinars__cards .webinars__card {
  position: relative;
  width: 500px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#webinars .webinars__cards .webinars__card .webinars__text {
  margin-bottom: 40px;
  padding-left: 10px;
}
#webinars .webinars__cards .webinars__card .webinars__text .webinars__top {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  top: 20px;
  left: 20px;
}
#webinars .webinars__cards .webinars__card .webinars__text .webinars__top p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#webinars .webinars__cards .webinars__card .webinars__text .webinars__top a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#webinars .webinars__cards .webinars__card .webinars__text h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
}
#webinars .webinars__cards .webinars__card .webinars__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
#webinars .webinars__cards .webinars__card .webinars__text button {
  position: absolute;
  padding: 10px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.7s;
  bottom: 20px;
}
#webinars .webinars__cards .webinars__card .webinars__text button a {
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  color: white;
}
#webinars .webinars__cards .webinars__card .webinars__text button:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 100px #c74141;
  transition: 0.7s;
  transform: translateY(-20px);
}
#webinars .webinars__cards .webinars__card .users__img {
  margin-top: 15px;
}
#webinars .webinars__cards .webinars__card .wild-logo {
  width: 200px;
  height: 240px;
  margin-right: 10px;
}
#webinars .webinars__cards .webinars__card .full-stack-img {
  padding: 30px;
  border-radius: 50%;
}
#webinars .webinars__cards .webinars__card .nft-family {
  width: 280px;
  height: 300px;
  margin-top: 0;
}
#webinars .webinars__cards .webinars__card span {
  position: absolute;
  padding: 10px;
  background: #FF091E;
  border-radius: 0 15px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  top: 0;
  right: 0;
}

#master-classes .master-classes {
  margin-top: 50px;
}
#master-classes .master-classes h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#master-classes .master-classes__label {
  padding: 20px 0;
}
#master-classes .master-classes__label label {
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #2C3E50;
  cursor: pointer;
  transition: 0.7s;
  padding: 5px 10px;
}
#master-classes .master-classes__label label:focus {
  background: red;
  color: #00A400;
}
#master-classes .master-classes__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#master-classes .master-classes__input input {
  display: none;
}
#master-classes .master-classes__input #busines:checked ~ .master-classes__card4,
#master-classes .master-classes__input #busines:checked ~ .master-classes__card5,
#master-classes .master-classes__input #busines:checked ~ .master-classes__card6 {
  display: none;
}
#master-classes .master-classes__input .master-classes__card:hover {
  background: rgba(148, 245, 99, 0.99);
}
#master-classes .master-classes__input .master-classes__card {
  width: 350px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px 20px;
  margin-bottom: 20px;
}
#master-classes .master-classes__input .master-classes__card .master-classes__top {
  display: flex;
  justify-content: start;
}
#master-classes .master-classes__input .master-classes__card button {
  padding: 5px;
  background: #9099A3;
  border-radius: 19px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
#master-classes .master-classes__input .master-classes__card a {
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
}
#master-classes .master-classes__input h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
  padding: 20px 0;
}
#master-classes .master-classes__input p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2C3E50;
  border-bottom: 0.5px solid #9099A3;
  transform: rotate(-0.24deg);
  padding-bottom: 20px;
}
#master-classes .master-classes__input .master-classes__bottom {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}
#master-classes .master-classes__input .master-classes__bottom .master-classes__text {
  margin-left: 20px;
}
#master-classes .master-classes__input .master-classes__bottom .master-classes__text h1 {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
  padding: 0 0;
}
#master-classes .master-classes__input .master-classes__bottom .master-classes__text p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  padding: 0 0;
  border: none;
}
#master-classes .master-classes__button {
  width: 340px;
  height: 50px;
  border: 2px solid #9099A3;
  filter: drop-shadow(0px 5px 8px rgba(26, 92, 255, 0.2));
  border-radius: 12px;
  font-weight: 900;
  font-size: 18px;
  color: #9099A3;
  background: none;
  cursor: pointer;
  transition: 0.7s;
}
#master-classes .master-classes__button:hover {
  box-shadow: 0 10px 100px rgba(148, 245, 99, 0.99);
  transform: translateY(20px);
  transition: 0.7s;
  background: transparent;
  color: rgba(148, 245, 99, 0.99);
  border: 2px solid rgba(148, 245, 99, 0.99);
}

#address .address {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#address .address__gen:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__gen h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#address .address__gen h1:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__gen h1:focus {
  background: black;
}
#address .address__gen h1:active {
  background: #ff003b;
}
#address .address__gen p {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #9099A3;
}
#address .address__gen p:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__gen p:focus {
  background: black;
}
#address .address__gen p:active {
  background: #ff003b;
}
#address .address__contact p {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  padding: 10px 0;
}
#address .address__contact p:hover {
  color: #0d92d9;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px #ffffff;
}
#address .address__contact input {
  width: 500px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0 10px;
  box-shadow: 0 80px 1000px 2px red;
}
#address .address input:hover {
  color: #c6e3d2;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address input:focus {
  background: black;
}
#address .address input:active {
  background: #b1dac2;
}
#address .address__btn {
  display: flex;
  align-items: center;
}
#address .address__btn p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#address .address__btn p:hover {
  color: #d90d3d;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address__btn p:focus {
  background: black;
}
#address .address__btn p:active {
  background: #ff003b;
}
#address .address__btn button {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  width: 280px;
  height: 60px;
  background: #FF1A1A;
  box-shadow: 0 5px 8px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  margin: 20px;
}
#address .address button:hover {
  color: #121d0c;
  transition: 0.7s;
  transform: translateY(-10px);
  box-shadow: 0 9px 10px -5px white;
}
#address .address button:focus {
  background: black;
}
#address .address button:active {
  background: #ff003b;
}

#reviews .reviews h1 {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding: 20px 0;
  color: #FFFFFF;
}
#reviews .reviews .swiper {
  width: 100%;
  height: 100%;
}
#reviews .reviews .swiper .swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#reviews .reviews .swiper .swiper-slide .reviews__cards {
  position: relative;
  background: #1E2023;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
}
#reviews .reviews .swiper .swiper-slide .reviews__cards h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 5px 0;
  color: #FFFFFF;
}
#reviews .reviews .swiper .swiper-slide .reviews__cards .reviews__text {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
#reviews .reviews .swiper .swiper-slide .reviews__cards .reviews__text h4 {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
#reviews .reviews .swiper .swiper-slide .reviews__cards .reviews__text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
  margin-left: 5px;
}
#reviews .reviews .swiper .swiper-slide .reviews__cards button {
  width: 180px;
  height: 40.43px;
  background: #FF1A1A;
  box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

#footer {
  background: #1E2024;
}
#footer .footer {
  padding: 120px;
}
#footer .footer .footer__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#footer .footer .footer__top img {
  width: 79px;
  height: 90px;
}
#footer .footer .footer__top h4 {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer .footer__top p, #footer .footer .footer__top a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#footer .footer .footer__top .footer__menu a {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
#footer .footer .footer__top .footer__connection p {
  padding: 15px 0;
}
#footer .footer .footer__top .footer__connection p a {
  color: #0d92d9;
}
#footer .footer .footer__top .footer__connection .footer__set a .footer__set-icon {
  background: #DADADA;
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  margin: 5px 2px;
  color: black;
}
#footer .footer .footer__top .footer__address p {
  padding: 15px 0;
}
#footer .footer .footer__bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer .footer__bottom p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#footer .footer .footer__bottom .footer__bottom--right {
  display: flex;
  justify-content: inherit;
  align-items: center;
}
#footer .footer .footer__bottom .footer__bottom--right img {
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
