@import "reset";
@import "mixins";
@import "variables";


#header {
  background: #1E2024;
  position: relative;
  box-shadow: 690px 270px 1000px red;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__logo {
      display: flex;
      justify-content: inherit;
      align-items: center;

      p {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        color: #FFFFFF;
      }
    }

    &__menu {
      display: flex;
      justify-content: initial;
      align-items: center;

      a {
        font-weight: 500;
        font-size: 14px;
        color: #9099A3;
        text-transform: capitalize;
        padding: 0 30px;

        &:focus {
          color: white;
          border-bottom: 2px solid gray;
        }
      }
    }
    &__language {
      select {
        padding: 3px 3px;
        border-radius: 12px;
        border: none;
        background: red;
        color: #FFFFFF;
        text-align: center;
        text-transform: capitalize;

        option {
          border-radius: 12px;
          border: none;
          background: red;
          color: #FFFFFF;
          text-transform: capitalize;
        }
      }
    }
    #menu__toggle {
      opacity: 0;
    }

    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position:absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
      z-index: 1;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility:hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color:#1E2024;
      box-shadow: 1px 10px 60px rgba(236, 230, 230, 0.97);
      z-index: 1;

    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: white;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    .menu__item:hover {
      color: red;
      box-shadow: 0 0 100px red;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);

    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }

  }
}

#hero {
  background: url("../img/Rectangle 2068.png") no-repeat center/cover;
  min-height: 100vh;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: start;

    &__top {
      margin-top: 50px;

      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        padding: 20px 0;
      }

      button {
        @include btn1;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 10px;

        &:hover {
          color: #b1dac2;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 8px 20px rgb(198, 227, 210);
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }
    }

    &__title {
      display: flex;
      align-items: center;
      margin-top: 50px;

      p {
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        padding: 0 60px;
      }

      h6, img {
        @include p-style;
        padding: 0 10px;
      }


    }
  }
}

#club {
  h1 {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding: 10px 0;
    text-transform: uppercase;
  }

  .club {
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: #2C3E50;
      }

      img {
        margin-bottom: -7px;
      }
    }

    &__right {
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: #2C3E50;
      }

      h1 {
        padding: 10px 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2C3E50;
      }

      &-text {
        display: flex;
        padding: 10px 0;

        p {
          line-height: 23px;
        }

        .vector {
          display: flex;
          flex-direction: column;
          width: 10px;
          height: 6px;
          border: 1px solid #FF1A1A;

          img {
            padding: 8px 0;
          }
        }
      }

      .club__bottom {
        display: flex;
        justify-content: space-between;

        &__text {
          p {
            font-weight: 400;
            font-size: 14px;
            color: #2C3E50;
            line-height: 25px;
          }

          h6 {
            font-weight: 700;
            font-size: 14px;
            color: #2C3E50;

          }
        }
      }
    }
  }
}

#travel {
  h1 {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding: 20px 0;
  }

  .travel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__format {
      position: relative;
      width: 500px;
      height: 300px;
      background: #FFFFFF;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 10px 0 100px rgba(225, 43, 43, 0.87);

      .travel__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-weight: 900;
          font-size: 24px;
          color: #9099A3;
        }
      }

      h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2C3E50;

      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #2C3E50;

      }

      button {
        position: absolute;
        @include btn1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 20px;
        right: 20px;

        &__icon {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}

#countries {
  margin-top: 50px;

   h1 {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;

    &:hover {
      color: #d9920d;
      transition: 0.7s;
      transform: translateY(-10px);
      box-shadow: 0 9px 10px -5px #ffff;
    }

    &:focus {
      background: black;
    }

    &:active {
      background: #ff003b;
    }
  }

  .countries {
    padding: 50px 0;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -100px;

       h1 {
        font-weight: 600;
        font-size: 54px;
        color: #FFFFFF;

        &:hover {
          color: #d9920d;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }
    }

    &__title2 {
      display: flex;
      align-items: center;
      justify-content: space-around;

       h2 {
        font-weight: 600;
        font-size: 36px;
        color: #FFFFFF;

        &:hover {
          color: #d9920d;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }
    }

    &__title3 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      h3 {
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;

        &:hover {
          color: #d9920d;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }
    }
  }
}

#address {
  .address {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;

   :hover {
      color: #d90d3d;
      transition: 0.7s;
      transform: translateY(-10px);
      box-shadow: 0 9px 10px -5px #ffff;
    }

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;

      &:hover {
        color: #d90d3d;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffff;
      }

      &:focus {
        background: black;
      }

      &:active {
        background: #ff003b;
      }
    }

  p {
      padding: 10px 0;
      font-weight: 400;
      font-size: 16px;
      color: #9099A3;

      &:hover {
        color: #d90d3d;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffff;
      }

      &:focus {
        background: black;
      }

      &:active {
        background: #ff003b;
      }
    }

  p {
      font-weight: 400;
      font-size: 14px;
      color: #9099A3;
      padding: 10px 0;

      &:hover {
        color: #0d92d9;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffffff;
      }
    }

  input {
      width: 500px;
      height: 60px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      padding: 0 10px;
      box-shadow: 0 80px 1000px 2px red;

      &:hover {
        color: #c6e3d2;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffff;
      }

      &:focus {
        background: black;
      }

      &:active {
        background: #b1dac2;
      }
    }

    &__btn {
      display: flex;
      align-items: center;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

        &:hover {
          color: #d90d3d;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }

      button {
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        width: 280px;
        height: 60px;
        background: #FF1A1A;
        box-shadow: 0 5px 8px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        margin: 20px;

        &:hover {
          color: #121d0c;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }
    }
  }
}

#footer {
  background: #1E2024;

  .footer {
    padding: 120px;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: start;

      img {
        width: 79px;
        height: 90px;
      }

      h4 {
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
      }

      p, a {
        @include p-style;
      }

      .footer__menu {
        a {
          display: flex;
          flex-direction: column;
          padding: 10px 0;
        }
      }

      .footer__connection{
        p {
          padding: 15px 0;

          a {
            color: #0d92d9;
          }
        }

        .footer__set {
          a {
            .footer__set-icon {
              background: #DADADA;
              height: 20px;
              width: 20px;
              padding: 5px;
              border-radius: 50%;
              margin: 5px 2px;
              color: black;
            }
          }
        }

      }

      .footer__address {
        p {
          padding: 15px 0;
        }
      }
    }

    &__bottom {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        @include p-style;
      }

      .footer__bottom--right {
        display: flex;
        justify-content: inherit;
        align-items: center;

        img {
          padding: 0 10px;
        }
      }
    }
  }
}
