@media (max-width: 360px) {
  #courses {
    .courses {
      .swiper {
        .swiper-slide {
          .coursers__cards {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column-reverse;
            width: 10%;
            height: 500px;
            text-align: center;

            .coursers__text {
               .coursers__top {
left: 10px;
              }
              h2 {
                position: absolute;
                left: 10px;
              }

              p {
                position: absolute;
                left: 20px;
                bottom: 240px;
              }
              button {
               top: 270px;
                width: 200px;
                height: 40px;
                text-align: center;


              }
            }

            .users__img {
              width: 30%;
              height: 30%;
              margin-right: 200px;

            }
          }
        }
      }
    }
  }
  #hero1 {
    .hero1{
      &__text {
        text-align: center;


      }

    }
  }
  #webinars {
    .webinars__cards {
.webinars__card{
  flex-direction: column-reverse;
  width: 320px;
  .users__img {
   width: 50%;
    padding: 0;
  }
  .webinars__btn {



  }

}
    }
    #master-classes {
      .master-classes {
        .master-classes__card{
          padding: 2px ;
        }
      }
    }
    #address {
      .address {
        &__contact {
          label {
          input {

          }
        }
        }

        }
      }
    }
  }


@media (max-width: 575px) {

  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header__menu {
    display: none;
    flex-wrap: wrap;
  }
  .address {
    flex-direction: column;
    text-align: center;

    .address__contact {
      label {
        input {
          width: 50%;
        }
      }

      .address__btn {
        flex-direction: column-reverse;
      }

    }
  }
  .master-classes {
    &__button {
      margin-left: 0;
    }
  }
  .footer {
    .footer__top {
      text-align: center;
      flex-direction: column;
    }
  }
  #hero1 {
    .hero1{
      &__text {
        text-align: center;


      }

    }
  }
  .webinars__cards {
    .webinars__card {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {

  .container {
    width: 100%;
    padding: 0 15px;
  }
  #header {
    .header {
      &__language {
        display: none;
      }
      &__menu {
        opacity: 0;
      }

    }
  }
  .address {
    flex-direction: column;
    text-align: center;

    .address__contact {
      label {
        input {
          width: 50%;
        }
      }

      .address__btn {
        flex-direction: column-reverse;
      }

    }
  }
  .master-classes {
    &__button {
      margin-left: 0;
    }
  }
  .footer {
    .footer__top {
      text-align: center;
      flex-direction: column;
    }
  }
  .hero1 {
    position: relative;
    flex-wrap: wrap;

    &__text {
      position: absolute;
      font-size: 50%;

      h2, h1 {
        font-size: 40%;
        font-weight: 100;
        padding: 0;
        line-height: 0;
      }
    }

    img {
      width: 99%;
    }
  }
  .webinars__cards {
    .webinars__card {
      width: 50%;
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 90%;
  }
  #header {
    .header {

      &__burger {
       display: none;
      }
    }
  }
  .address {
    flex-direction: column;
    text-align: center;

    .address__contact {
      label {
        input {
          width: 50%;
        }
      }

      .address__btn {
        flex-direction: column-reverse;
      }

    }
  }
}



