@import "reset";
@import "mixins";
@import "variables";


#header {
  background: #1E2024;
  position: relative;
  box-shadow: 690px 270px 1000px red;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__logo {
      display: flex;
      justify-content: inherit;
      align-items: center;

      p {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        color: #FFFFFF;
      }
    }

    &__menu {
      display: flex;
      justify-content: initial;
      align-items: center;

      a {
        font-weight: 500;
        font-size: 14px;
        color: #9099A3;
        text-transform: capitalize;
        padding: 0 30px;

        &:focus {
          color: white;
          border-bottom: 2px solid gray;
        }
      }
    }
    &__language {
      select {
        padding: 3px 3px;
        border-radius: 12px;
        border: none;
        background: red;
        color: #FFFFFF;
        text-align: center;
        text-transform: capitalize;

        option {
          border-radius: 12px;
          border: none;
          background: red;
          color: #FFFFFF;
          text-transform: capitalize;
        }
      }
    }
    #menu__toggle {
      opacity: 0;
    }

    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position:absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
      z-index: 1;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility:hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color:#1E2024;
      box-shadow: 1px 10px 60px rgba(236, 230, 230, 0.97);
      z-index: 1;

    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: white;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    .menu__item:hover {
      color: red;
      box-shadow: 0 0 100px red;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);

    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
     visibility: visible;
      left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }

  }
}

#hero1 {
  .hero1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #9099A3;
      }

      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        color: #FFFFFF;
        padding: 13px 0;
      }

      button {
        @include btn1;

       &:hover {
          @include them
        }
      }
    }
  }
}

#courses {
  .courses {
    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;


      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        .swiper-slide {
          display: block;
          width: 100%;
        }
          .coursers__cards {
            position: relative;
            background: #FFFFFF;
            border-radius: 15px;
            display: flex;
            justify-content: start;
            align-items: center;
            width: 500px;
            padding: 0 10px;



            .coursers__text {
              .coursers__top {
                position: absolute;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                top: 10px;


                p {
                  @include p-style;
                  padding: 0 10px;
                }

                a {
                  @include p-style
                }
              }

              h2 {
                font-weight: 700;
                font-size: 20px;
                width: 300px;
                color: #2C3E50;

              }

              p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #2C3E50;

              }

              button {
                position: absolute;
                @include btn1;
                left: 20px;
                bottom: 20px;

                &:hover {
                  @include them;
                  transform: translateY(-20px);
                }

                a {
                  font-weight: 900;
                  font-size: 14px;
                  line-height: 21px;
                  text-transform: capitalize;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }
  }

#webinars {
  .webinars {
    margin-top: 50px;

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }

  &__btn {
      @include btn1;
      display: flex;
      justify-content: center;
      padding-top: 10px;

      &:hover {
        @include them
      }
    }

    &__label {
      label {
        @include btn;
        padding: 5px 10px;
      }
    }

    &__cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;

      input {
        display: none;
      }

      #business:checked ~ .card3 {
        display: none;
      }

      #business:checked ~ .card4 {
        display: none;
      }

      .webinars__card {
        position: relative;

        background: #FFFFFF;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;


        .webinars__text {
          margin-bottom: 40px;
          padding-left: 10px;

          .webinars__top {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            top: 20px;

            p {
              @include p-style;
              padding: 0 10px;
            }

            a {
              @include p-style
            }
          }

          h2 {
            @include text
          }

          p {
            @include little-text;
          }

          button {
            position: absolute;
            @include btn1;
            left: 20px;
            bottom: 20px;

            &:hover {
              @include them;
              transform: translateY(-20px);
            }

            a {
              font-weight: 900;
              font-size: 14px;
              text-transform: capitalize;
              color: white;
            }
          }
        }

        .users__img {
          margin-top: 15px;
          padding: 0 23px;
        }

        .wild-logo {
          width: 200px;
          height: 240px;
          margin-right: 10px;
          padding: 25px 30px;
        }

        .full-stack-img {
          padding: 50px 30px;
          border-radius: 50%;

        }

        .nft-family {
          width: 300px;
          height: 300px;
          margin-top: 0;
        }

        span {
          position: absolute;
          padding: 10px;
          background: #FF091E;
          border-radius: 0 15px;
          font-weight: 700;
          font-size: 14px;
          text-align: center;
          color: #FFFFFF;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

#master-classes {
  .master-classes {
    margin-top: 50px;

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
    }

    &__label {
      padding: 20px 0;

      label {
        @include btn;
        padding: 5px 10px;
      }

      label:focus {
        background: red;
        color: #00A400;
      }
    }

    &__input {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;

      input {
        display: none;
      }

      #busines:checked ~ .master-classes__card4,
      #busines:checked ~ .master-classes__card5,
      #busines:checked ~ .master-classes__card6 {
        display: none;
      }

      .master-classes__card {
        width: 290px;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 20px 20px;
        margin-bottom: 20px;

        &:hover {
          background: rgba(148, 245, 99, 0.99);
        }

        &__top {
          display: flex;
          justify-content: start;
        }

        button {
          padding: 5px;
          background: #9099A3;
          border-radius: 19px;
          border: none;
          font-weight: 400;
          font-size: 12px;
          color: #FFFFFF;

        }

        a {
          font-weight: 400;
          font-size: 12px;
          color: #9099A3;

        }
      }

      h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2C3E50;
        padding: 20px 0;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #2C3E50;
        border-bottom: 0.5px solid #9099A3;
        transform: rotate(-0.24deg);
        padding-bottom: 20px;
      }

      .master-classes__bottom {
        display: flex;
        justify-content: start;
        margin-top: 20px;

        .master-classes__text {
          padding: 0 10px;

          h1 {
            font-weight: 700;
            font-size: 16px;
            color: #2C3E50;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
            padding: 0 0;
            border: none;
          }
        }
      }
    }
  }
  .master-classes__button {
    border: 2px solid #9099A3;
    filter: drop-shadow(0px 5px 8px rgba(26, 92, 255, 0.2));
    border-radius: 12px;
    font-weight: 900;
    font-size: 18px;
    color: #9099A3;
    background: none;
    cursor: pointer;
    transition: 0.7s;
    padding: 7px 20px;
    &:hover {
      box-shadow: 0 10px 100px rgba(148, 245, 99, 0.99);
      transform: translateY(20px);
      transition: 0.7s;
      background: transparent;
      color: rgba(148, 245, 99, 0.99);
      border: 2px solid rgba(148, 245, 99, 0.99);
    }
  }
}

#address {
  .address {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;

    &__gen:hover {
      color: #d90d3d;
      transition: 0.7s;
      transform: translateY(-10px);
      box-shadow: 0 9px 10px -5px #ffff;
    }

    &__gen h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;

      &:hover {
        color: #d90d3d;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffff;
      }

      &:focus {
        background: black;
      }

      &:active {
        background: #ff003b;
      }
    }

    &__gen p {
      padding: 10px 0;
      font-weight: 400;
      font-size: 16px;
      color: #9099A3;

      &:hover {
        color: #d90d3d;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffff;
      }

      &:focus {
        background: black;
      }

      &:active {
        background: #ff003b;
      }
    }

    &__contact p {
      font-weight: 400;
      font-size: 14px;
      color: #9099A3;
      padding: 10px 0;

      &:hover {
        color: #0d92d9;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffffff;
      }
    }

    &__contact input {

      background: rgba(255, 255, 255, 0.2);
      border-radius: 15px;

      padding: 20px 180px;
      display: flex;
      justify-content: start;
      text-align: start;
      box-shadow: 0 80px 1000px 2px red;
      &:hover {
        color: #c6e3d2;
        transition: 0.7s;
        transform: translateY(-10px);
        box-shadow: 0 9px 10px -5px #ffff;
      }

      &:focus {
        background: black;
      }

      &:active {
        background: #b1dac2;
      }
    }

    &__btn {
      display: flex;
      align-items: center;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

        &:hover {
          color: #d90d3d;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }

      button {
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
       padding: 20px 60px;
        background: #FF1A1A;
        box-shadow: 0 5px 8px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        margin: 20px;

        &:hover {
          color: #121d0c;
          transition: 0.7s;
          transform: translateY(-10px);
          box-shadow: 0 9px 10px -5px #ffff;
        }

        &:focus {
          background: black;
        }

        &:active {
          background: #ff003b;
        }
      }
    }
  }
}
#reviews {
  .reviews {
    h1 {
      display: flex;
      justify-content: center;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      padding: 20px 0;
      color: #FFFFFF;
    }

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        font-size: 18px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;


        .reviews__cards {
          position: relative;
          background: #1E2023;
          border-radius: 15px;
          text-align: center;
          padding: 30px;

          h5 {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            padding: 5px 0;
            color: #FFFFFF;
          }

          .reviews__text {
            display: flex;
            justify-content: center;
            padding: 10px 0;

            h4 {
              font-weight: 700;
              font-size: 14px;
              color: #FFFFFF;
            }

            p {
              @include p-style;
              margin-left: 5px;
            }
          }

          button {
            @include btn1;
          }

        }
      }
    }
  }
}

#footer {
  background: #1E2024;

  .footer {
    padding: 120px;

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: start;

      img {
        width: 79px;
        height: 90px;
      }

      h4 {
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
      }

      p, a {
        @include p-style;
      }

     .footer__menu {
        a {
          display: flex;
          flex-direction: column;
          padding: 10px 0;
        }
      }

      .footer__connection{
        p {
          padding: 15px 0;

          a {
            color: #0d92d9;
          }
        }

        .footer__set {
          a {
            .footer__set-icon {
              background: #DADADA;
              height: 20px;
              width: 20px;
              padding: 5px;
              border-radius: 50%;
              margin: 5px 2px;
              color: black;
            }
          }
        }

      }

      .footer__address {
        p {
          padding: 15px 0;
        }
      }
    }

    &__bottom {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        @include p-style;
      }

      .footer__bottom--right {
        display: flex;
        justify-content: inherit;
        align-items: center;

        img {
          padding: 0 10px;
        }
      }
    }
  }
}
